name: build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04-arm
  
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake wget
        wget http://abyz.me.uk/lg/lg.zip
        unzip lg.zip
        cd lg
        make
        sudo make install
        cd ..
        sudo rm -rf lg
    
    - name: Build the project
      run: ./build.sh
